<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*.Test]*,[VDrumExplorer.Gui.Avalonia]*,[VDrumExplorer.Blazor]*,[VDrumExplorer.Console]*,[VDrumExplorer.Benchmarks]*,[VDrumExplorer.InstrumentParser]*</Exclude>
          <ExcludeByAttribute>ExcludeFromCodeCoverageAttribute,GeneratedCodeAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/DrumFiles.g.cs,**/NullableAttributes.cs</ExcludeByFile>
          <SkipAutoProps>true</SkipAutoProps>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
